/* ==============GLOBAL HOME============= */


/*=========== SERVICE SECTION========= */

#service .button {
	transition: background-color .5s;
}

#service .button:hover {
	background-color: var(--bg-dark);
	color: var(--bg-light);
	transition: background-color .5s;
}

#service .button:hover i {
	color: var(--bg-light);
}

.service-title>* {
	margin-bottom: 1.5rem;
}

.service-title-logo {
	display: none;
}

/* ================ABOUT=================== */
#about {
	margin-top: 5rem;

}

/* #about button{
	align-self: baseline;
} */
#about .infobox,
#about .infobox h2 {
	text-align: start;
	align-self: baseline;

}

.about-entry {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 2rem;
	margin-bottom: 2rem;
	padding-inline: 2rem;
}

.about-logo {
	width: 5rem;
}

.about-main-img {
	padding: 1.5rem;
}

/* =====================LOCAL==================== */
#local {
	margin-top: 8rem;
	/* text-align: start; */
}

.local-main-img {
	padding: 1.5rem;
	margin-inline: auto;
}

/* #local button{
	align-self: baseline;
} */
#local .infobox,
#local .infobox h2 {
	text-align: start;
	align-self: baseline;

}
#local .button{
	align-self: baseline;
}

@media (min-width: 767.98px) {
	
	#service {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		gap: 1rem;
		/* display: flex;
		flex-direction: row; */
	}

	#service .service-title {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;


	}
	#service .service-title .text{
		position: relative;
		top: 50%;
		z-index: 5;
	}
	.service-title-logo {
		display: block;
		width: 58%;
		opacity: .3;
	}

	#service .service-buttons {
		align-self: center;
	}

	/* ==============ABOUT=================== */ 
#about .about-entry p{
	font-size: 1.8rem;
}	
#about .infobox-and-img{
	display: grid;
		grid-template-columns: repeat(2, 1fr);
		gap: 1rem;
}
#about .infobox{
	align-self: center;
}
#about .infobox h2{
	font-size: 3rem;
}
	
/* ================LOCAL=================== */ 
#local {
	display: grid;
		grid-template-columns: repeat(2, 1fr);
		gap: 1rem;
}
#local .infobox{
	align-self: center;
}
#local .infobox h2{
	font-size: 3rem;

}

}
