/* ==============GLOBAL HOME============= */


/*=========== SERVICE SECTION========= */

#service button{
	transition: background-color .5s;
}
 #service button:hover{
background-color: var(--bg-dark);
color: var(--bg-light);
transition: background-color .5s;
 }
 #service button:hover i {
  color: var(--bg-light); 
}

.service-title > * {
margin-bottom: 1.5rem;
}


/* ================ABOUT=================== */
#about{
	margin-top: 5rem;
	text-align: start;
}

#about button{
	align-self: baseline;
}
.about-entry{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 2rem;
	margin-bottom: 2rem;
	padding-inline: 2rem;
}
.about-logo{
	width: 5rem;
}
.about-main-img{
	padding: 1.5rem;
}

/* =====================LOCAL==================== */
#local{
	margin-top: 8rem;
	text-align: start;
}
.local-main-img{
	padding: 1.5rem;
	margin-inline: auto;
}
#local button{
	align-self: baseline;
}