#footer{
	background-color: #000;
	padding-top: .3rem;
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}
#footer p{
	color: var(--bg-light);
}
#footer .infobox{
	align-items: center;
	
}

#footer .pre-footer{
	background-color: #000;
	padding-top:0;
	height: 50vh;
	display: flex;
	justify-content: center;
}
.pre-footer .infobox{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-arround;
	height: 100%;

margin: 0;
}
.infobox .footer-infobox-logo{
	width: 10rem
}

.pre-footer .button{
	border-color: var(--bg-light);
	color: var(--bg-light) ;
	width: 80%;

}
.pre-footer .button i{
	color: var(--bg-light);
}
#footer .last{
	padding-top:0 ;
	height: 50vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: var(--bg-dark);
	width: 100%;
}
.last-footer{
	
	height: 58%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	width: 100%;


}
.last-footer p{
	color: var(--bg-light);
	
}
.last-footer h3{
	
	font-size: 2rem;
	margin-bottom: 1rem;
}
.footer-logo h2{
	font-size: 5rem;
	line-height: 8rem;
}
footer section.last{
	padding-top: 5rem;
}
#footer .cnpjoto{
	align-self: center;
}
#footer .social-links{
	justify-content: center;

}
@media(min-width:767.98px){
#footer .pre-footer{
height: 80vh;
}
#footer .last{
height: 30vh;
}

	#footer .pre-footer .infobox{
		display: grid;
		grid-template-columns: 2fr 1fr;
		margin: 0;
		padding: 0;
		width: 80%;
	}
	.pre-footer .infobox h2{
		font-size: 3rem;
		grid-column: 1;
	grid-row: 1;
	align-self: end;
	justify-self: center;
	max-width: 80rem;
	line-height: 5rem;
	}
	.pre-footer .infobox a{
		grid-column: 1;
	grid-row: 2;
	align-self: baseline;
	justify-self: center;
	max-width: 50rem;

	}
	.pre-footer .infobox img{
		grid-column: 2;
	grid-row: 1 / 3;
	justify-self: center;
    align-self: center;
	width: 100%;
	}


	.last .last-footer{
	flex-direction: row;
	align-items: center;
	justify-content: space-around;
	
	}


}

@media(min-width:1198px){
	.pre-footer{
		height: 100vh;
		background-position: right;
    background-size: contain;
	}
	.pre-footer .infobox{
		width: 30%;
		margin-left: 5%;
		
	}
}